<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gn5r.TutorialMapper">
	<select id="select" resultType="com.gn5r.Tutorial">
		select * from tutorial;
	</select>
	
	<insert id="insert">
		insert into tutorial(name,email,password)values(#{name},#{email},#{password});
	</insert>
</mapper>